<h3> Image viewer </h3>
<table class="table">
  <thead class="thead-dark">
    <th> Image ID </th><th>Description</th><th>Date</th><th>Action</th><th>Images</th>
  </thead>
  <tbody>
    {{#each image}}
    <tr>
      <td>{{id}}</td> 
      <td>{{description}}</td>
      <td>{{date}} </td>
      <td>
	<button type="button" class="btn btn-primary"><a href="/listImages/process/{{id}}" target="_blank" style="target-new: tab;">Process</a></button>
      </td>
      <td>
	<button type="button" class="btn btn-primary"><a href="/listImages/details/{{id}}" target="_blank" style="target-new: tab;">Details</a></button>
      </td>   
    </tr>
    {{/each}}
  </tbody>
</table>
